@import "tailwindcss";

@theme {
  --color-main: #1b2430;
  --color-back: #f5f6f7;
  --color-surface: #fff;
  --color-deep: #0e7c7b;
  --color-waiting: #d98e04;
  --color-completed: #3f7d53;
  --color-canceld: #c1443c;
}

@layer base {
}

@layer components {
  .myContainer {
    @apply flex justify-center items-center h-screen;
  }
  .myFormCard {
    @apply w-2/3 rounded-3xl p-3 bg-surface shadow-2xl;
  }
  .myHead {
    @apply text-2xl text-center text-deep;
  }
  .myButton {
    @apply bg-deep text-main p-2 rounded-2xl;
  }
}
